.wrapper {
  margin: 2em 0;
}

.info-primary,
.info-secondary {
  margin: 1em 0;
}

.info-primary {
  margin: 0;
  font-size: 1.8em;
  font-weight: bold;
}

.info-secondary {
  margin: 0 0 0 0.5em;
  font-size: 1.5rem;
  font-weight: normal;
}

.links {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.links li {
  display: inline-block;
}

.links li:not(:last-child) {
  margin-right: 0.5rem;
}

.tags {
  font-size: 1.4em;
}
