.wrapper {
	margin: 2em 0;
}

.wrapper + .wrapper {
	margin-top: 4em;
}

.info-primary,
.info-secondary {
	margin: 1em 0;
}

.info-primary {
	margin: 0;
	font-size: 1.8em;
	font-weight: bold;
}

.info-secondary {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.summary {
	margin: .8em 0;
	font-size: 1.6em 0;
	font-weight: normal;
}

.links {
	list-style: none;
	padding: 0;
	font-size: 1.2em;
}

.links li {
	display: inline-block;
}

.links li:not(:last-child) {
	margin-right: .5rem;
}

.tags {
	list-style: none;
	padding: 0;
	font-size: 1.4em;
}

.tags li {
	display: inline-block;
}

.tags li:not(:last-child) {
	margin-right: 1.5rem;
}

.tags li::before {
	content: '+ ';
}
