.wrapper {
	margin: 0 0 4rem;
}

.name {
	margin: 0;
	font-size: 3em;
	font-weight: normal;
}

.contact {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
}

.contact li {
	display: block;
	white-space: pre;
}

@media (min-width: 600px) {
	.contact li {
		display: inline-block;
	}

	.contact li:not(:first-child)::before {
		content: '| ';
	}

	.contact li:not(:last-child)::after {
		content: ' ';
	}
}

